.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-content: center;
}

.align-start {
    align-content: flex-start;
}

.align-end {
    align-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}